*~
convertFebTemp_main
convertMergerTemp_main
obj
tmp
Makefile.log
libarichstandaloneDict.cxx
libarichstandaloneDictLib.so
libarichstandaloneDict_rdict.pcm
h1_ARICHChannelHist.root
data-181022/
data-181022_febtemp.files
data-181022_mgrtemp.files
data-181102/
data-181106/
data-181106_febtemp.files
data-181106_mgrtemp.files
data-181107/
*.pdf
*.eps
data-181106_threeSectors/
data-181108/
data-181113/
data-181114/
data-181115/
data-181116/
data-181117/
data-181119/
screenlog.0
febtemp-190222-000101.root-febtemp-190222-235101.root.root
screenlogArchive
testARICHmapping_main
gl840
data/190223/
data/190308.tar.gz
data/190308/
data/190324.tar.gz
data/190324/
data/root_pdf_summary/
gl840_original
runanaGL840_main
